<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Yoour Chat</title>
</head>
<body>
    <h3>Edit your chat</h3>
    <h4>Id: <%=chat._id%> </h4>
    <h5>This chat was sent by <%=chat.from%> to  <%=chat.to%></h5>
    <form action="/chats/<%=chat._id%>?_method=PUT" method="post">
        <textarea name="msg" rows="5" cols="40"><%= chat.msg %></textarea>
        <br><br>
        <button>Confirm Edit</button>
    </form>
</body>
</html>